.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.title {
    font-family: Helvetica;
    color: black;
}

body {
    margin: 30px;
}

.transparent {
    opacity: 0.2;
}

.product-pic {
    width: 50px;
}

.my-container {
    justify-content: center;
    /* border: 1px solid green; */
    /* background-color: lightgray; */
}

/* div.col {
    margin-left: 5px;
    margin-right: 5px;
}

div.row {
    margin-top: 5px;
    margin-bottom: 5px;
} */

.border1 {
    border: 1px solid black;
    /* padding: 10px; */
    /* margin: 10px; */
}

i.sensor {
    font-size: 36px;
    color: blue;
}

i.command-icon {
    font-size: 36px;
}

i#connection-icon {
    font-size: 24px;
}

i.icon-button {
    cursor: pointer;
    font-size: 24px;
    color: lightseagreen;
}

i.icon-button:hover {
    color: red;
}

i.insert-icon {
    cursor: pointer;
    font-size: 120px;
    vertical-align: middle;
    color: white;
}

i.insert-icon:hover {
    color: red;
}


.product {
    font-size: 40px;
    color: green;
    /* width: 30px; */
    /* fill: green; */
}

.sensor-value {
    /* font-family: Helvetica; */
    /* color: black; */
    /* font-size: 3.5vmin; */
    /* display: inline; */
}

/* .sensor-icon {
    height: 40px;
    width: 40px;
    vertical-align: middle;
} */

.center {
    background: #c0c5ce;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}


.switch {
    position: relative;
    /* display: inline-block; */
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: seagreen;
}

input:focus+.slider {
    box-shadow: 0 0 1px lightseagreen;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

div.absolute {
    /* position: absolute; */
    /* width: 100%; */
    /* left: 0%; */
    /* height: 40%; */
    /* border: 1px solid black; */
    padding-top: 110%;
    /* 4:3 Aspect Ratio */
    background-color: white;
    border-radius: 3px;
}

div.floor {
    position: absolute;
    right: 5%;
    width: 90%;
    height: 29%;
    /* border: 3px solid #2a21ad; */
    background-color: khaki;
    border-radius: 3px;
}

div.top-floor {
    top: 4%;
}

div.middle-floor {
    top: 35.5%;
}

div.bottom-floor {
    top: 67%;
}

div.wood {
    position: absolute;
    top: 4%;
    width: 35%;
    height: 76%;
    /* border: 3px solid #73AD21; */
    background-color: burlywood;
    border-radius: 3px;
}

div.switches {
    left: 10%;
}

div.scale {
    right: 10%;
}

div.sw {
    position: absolute;
    width: 32%;
    height: 42%;
    border-radius: 3px;
    /* border: 2px solid #ad2121; */
}

div.sw1 {
    bottom: 4%;
    right: 7%;
}

div.sw2 {
    bottom: 4%;
    left: 7%;
}

div.sw3 {
    top: 4%;
    right: 7%;
}

div.sw4 {
    top: 4%;
    left: 7%;
}

div.light {
    position: absolute;
    width: 94%;
    height: 38%;
    left: 3%;
    top: 28%;
    border-radius: 3px;
    /* border: 1px solid #2136ad; */
}

div.mid {
    position: absolute;
    width: 13%;
    height: 90%;
    top: 5%;
    border-radius: 3px;
    /* border: 2px solid #000000; */
}

div.mid1 {
    left: 6%;
}

div.mid2 {
    left: 25%;
}

div.mid3 {
    left: 44%;
}

div.mid4 {
    left: 63%;
}

div.mid5 {
    left: 82%;
}

div.dis {
    position: absolute;
    width: 14%;
    height: 94%;
    top: 3%;
    border-radius: 3px;
    /* border: 1px solid #4621ad; */
}

div.dis1 {
    left: 26%;
}

div.dis2 {
    right: 26%;
}

div.ultra {
    position: absolute;
    width: 74%;
    height: 30%;
    right: 13%;
    /* border: 1px solid #ad2121; */
}

div.ultra1 {
    bottom: 3%;
}

div.ultra2 {
    bottom: 35%;
}

div.ultra3 {
    bottom: 67%;
}

div.ir {
    position: absolute;
    width: 74%;
    height: 30%;
    left: 13%;
    /* border: 2px solid #ad2121; */
}

div.ir1 {
    bottom: 3%;
}

div.ir2 {
    bottom: 35%;
}

div.ir3 {
    bottom: 67%;
}

div.unit-info {
    position: absolute;
    color: black;
    font-size: 2.5vh;
    font-weight: bold;
    cursor: pointer;
}

div#unit-info1 {
    bottom: -25%;
    width: 100%;
    text-align: center;
}

div#unit-info2 {
    bottom: -25%;
    width: 100%;
    text-align: center;
}

div#unit-info3 {
    bottom: -50%;
    width: 100%;
    text-align: center;
}

div#unit-info4 {
    top: 45%;
    left: -175%;
    width: 165%;
    text-align: right;
}

div#unit-info5 {
    top: 45%;
    right: -175%;
    width: 165%;
    text-align: left;
}

img.pic {
    width: 90%;
    border: 0.5px solid brown;
    border-radius: 3px;
}